# Copy this file to .env and fill secrets locally (do NOT commit .env)
# Jenkins / Multibranch settings
GIT_REPO_URL=https://github.com/Manuel-bitcode/movie-bff.git
MULTIBRANCH_JOB_NAME=movie-bff-multibranch
GIT_CREDENTIALS_ID=github-token
GIT_USERNAME=git
# Provide a GitHub Personal Access Token with repo read access (and admin:repo_hook if you want to add webhooks)
GIT_TOKEN=

# Jenkins admin (for local testing only)
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD=admin123
